/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--background-color);
  font-family: var(--font-femily-Inter), sans-serif;
  font-variation-settings: var(--fint-weight-Inter-text);
  color: var(--accent-color);
  padding: 106px 0;
  background-attachment: fixed;
  background-image: var(--background-gradient);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  margin: 0 auto 100px auto;
  max-inline-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  font-family: var(--font-femily-2p), sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.header__title {
  text-align: center;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-style: normal;
  line-height: normal;
  margin: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 20px;
}

.header__title-logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  display: block;
  margin-bottom: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0 0 23px 16px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;

  transition: var(--three-ease-seconds);


  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled:before {
  content: "▶";
  inset-inline-start: -20px;
  position: absolute;
  animation: triangle-mark 0.5s infinite alternate ease-in-out;
}

.theme-menu__button:after {
  background-color: currentColor;
  block-size: 3px;
  content: "";
  display: block;
  inline-size: 100%;
  inset-block-end: -3px;
  inset-inline-start: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: var(--three-ease-seconds);
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 54px;
  max-inline-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.card__title {
  font-size: 18px;
  font-variation-settings: var(--fint-weight-Inter-title);
  margin: 5px 10px;
}

.card__image-wrapper {
  position: relative;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  display: block;
}

.card__image-mark {
  mix-blend-mode: hard-light;
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-femily-2p), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: var(--text-shadow);
  opacity: 0.5;
  z-index: 1;
}

@supports (text-stroke: 1px var(--background-color)) or
  (-webkit-text-stroke: 1px var(--background-color)) {
  .card__image-mark {
    -webkit-text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.card__image {
  inline-size: 100%;
  object-fit: cover;
}

.filter__img-gray {
  filter: contrast(150%);
}

.filter__img-rotate {
  filter: hue-rotate(-90deg);
}

.filter__img-invert {
  filter: invert(100%);
}

.filter__img-care {
  filter: contrast(120%) brightness(75%);
}

.filter__img-support {
  filter: hue-rotate(65.1deg) saturate(365%);
}

.filter__img-blur {
  filter: blur(2px);
}

.filter__img-experience {
  filter: invert(1%) contrast(150%);
}

.card__body {
  margin: 25px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__button {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.button__heart {
  outline: none;
  cursor: pointer;
}

.button__common {
  position: relative;
  color: #000;
  background-color: var(--background-color);
  outline: none;
  cursor: pointer;
  border: 2px solid var(--accent-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
}

.button__text {
  color: var(--button-text);
  mix-blend-mode: difference;
  font-family: var(--font-femily-2p), sans-serif;
  display: block;
  position: relative;
  z-index: 2;
}

.button__common::before {
  background-color: var(--accent-color);
  content: "";
  position: relative;
  width: 100%;
  height: 100%;
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button__common:hover::before {
  transform: scaleX(1);
}

.button__common:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
}

.card__icon-button {
  border: none;
  background: transparent;
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  transition: var(--three-ease-seconds);
}

.like-icon {
  align-self: center;
}

.contour {
  fill: var(--accent-color);
}

.main-body {
  transition: fill 0.3s 0.05s linear;
}

.core {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--heart-hover);
}

.like-icon:hover .main-body {
  fill: var(--heart-hover);
}

.like-icon:active .core {
  fill: var(--red-color);
}

.like-icon:active .main-body {
  fill: var(--red-color);
}

.sparks {
  opacity: 0;
}

.is-liked .heart {
  animation: to-scale 0.3s 0.1s ease-in alternate;
}

.is-liked .contour {
  animation: contour 0.3s linear 0.06s;
  animation-fill-mode: forwards;
}

.is-liked .main-body {
  animation: main-body 0.3s linear 0.05s;
  animation-fill-mode: forwards;
}

.is-liked .core {
  animation: core 0.3s linear;
  animation-fill-mode: forwards;
}

.is-liked .sparks {
  animation: sparks 1.3s 1.3s ease-in alternate;
}

.card__like-button {
  inline-size: 130px;
  padding: 9px 17px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--background-clr);
  margin: 50px auto 0;
}

.card__save-button {
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.dialog {
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  font-family: var(--font-femily-Inter), sans-serif;
  font-size: 14px;
  font-weight: 400;
  inset: 0;
  line-height: 150%;
  max-inline-size: 343px;
  padding: 30px;
  position: fixed;
  text-transform: uppercase;
}

.dialog[open]::backdrop {
  background-color: var(--black-color, rgba(0 0 0 / 0.75));
}

.dialog__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog__content {
  display: flex;
  gap: 20px;
}

.dialog__text {
  color: var(--accent-color);
  font-family: var(--font-femily-2p);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__save-button {
  padding: 15px 20px;
  width: 100%;
}
